* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
}

.containertwo {
  width: 100vw;
  min-height: 100vh;
}

[data-theme="dark"] {
  --background-color: #d9d9d9;
}
